.phone-signin{

    position: absolute;
    top:30%;
    left:40%;
}
.phone-contant{
    text-align: center;
    
}
.otp-container {
  margin-bottom: 200px; /* or adjust as needed */
  padding: 20px;
  background: #fff;
  z-index: 1;
  position: relative;
}
